<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PID Application</title>
</head>
<body>
    <h1>PID Django Application</h1>
    <hr>
    <form action="">
        Age : <input type="number" name="age" required><br>
        STDs/UTI History : <input type="number" name="sti's/uti" required><br>
        IUD Use : <input type="number" name="iud_use" required><br>
        Past Pelvic : <input type="number" name="past_pelvic" required><br>
        Imaging Results : <input type="number" name="imaging_results" required><br>
        Abnormal Discharge: <input type="number" name="abnormal_discharge" required><br>
        Irregular Periods : <input type="number" name="irregular_periods" required><br>
        Dyspareunia : <input type="number" name="dyspareunia" required><br>
        Dysuria : <input type="number" name="dysuria" required><br>
        WBC Count : <input type="number" name="wbc_count" required><br>
        ESR : <input type="number" name="esr" required><br>
        CRP Level : <input type="number" name="crp_level" required><br>
        <input type="submit">
    </form>
</body>
</html>